# See http://help.github.com/ignore-files/ for more about ignoring files.

*.sublime-*

# compiled output
/dist
/tmp

# IDEs and editors
/.idea
/.vscode
/.vs
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#System Files
.DS_Store
Thumbs.db
